@charset "UTF-8";

body {
    font: normal 16px Arial, Verdana, serif;
    background-color: rgb(38, 160, 89);
}
main {
    background-color: rgb(2, 253, 136);
    padding: 10px;
    box-shadow: 5px 5px 15px black;
    margin: auto;
    border-radius: 10px;
    width: 600px;
}

h1 {
    text-align: center;
  
}
h2 {
    text-align: left;
}
p {
    text-align: justify;
    text-indent: 20px;
}
