body {
    background-color: black;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    width: 650px;
    box-shadow: 5px 5px 40px 20px rgb(39, 38, 38);
}

h1 {
    color: white; 
    font-size: 2.5em;
    font-family: sans-serif;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    width: 400px;
}


